.event-content img {
    max-width: 100%;
}

.event-content {
    line-height: 22px;
    white-space: pre-wrap;
    margin-left: 20px;
    margin-top: 10px;
}

.body {
    background-color: #fff;
    font-family: Graphik,Helvetica,Arial,sans-serif;
}
