

{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
&nbsp;
 <div class="row">
     {% for event in events %}
         <div class="col-xl-3 col-xs-9">
         <div class="card-group">
             <div class="card event-card">
              <img class="card-img-top" src="{{ event.img_url  }}" alt="Card image cap" height="200" width="100">
               <div class="card-block">
				<h4 class="card-title"><a href="{{ url_for('event.single_event', event_id=event.id)}}">{{ event.title }}</a></h4>
                <h6>Жанр: {{ event.genre }}</h6>
                <p class="card-text">{{ event.description }}</p>
                <p class="card-text"><small class="text-muted">
                    {% if event.price != None %}
                        <p>Цены: {{event.price}} руб.</p>
                    {% else %}
                        <p> Цена уточняется </p>
                    {% endif %}
                    {% if event.date_start != None %}
                        <p>Начинается: {{ event.date_start }} | Комментарии: {{ event.comments_count() }}</p>
                    {% else %}
                        <p>Дата корректируется | Комментарии: {{ event.comments_count() }}</p>
                    {% endif %}</small></p>
                    <div class='col-6'>
                        <a class="btn btn-primary" href="{{ url_for('event.subscribe_event', event_id=event.id) }}">Подписаться</a><a class="btn btn-primary" href="{{ url_for('event.unsubscribe_event', event_id=event.id) }}">Отписаться</a>
                    </div>
               </div>
           </div>
         </div>
         </div>
     {% endfor %}
 </div>
</div>
{% endblock %}
