{% extends "base.html" %}

{% block content %}

			<div style="float:left; margin: 30px; padding: 20px;" class="f1 box">
				{% for event in events %}
				<div>
					<div class='row'>
						<div class='col-7'>
							<h4><a href='{{ event.url }}'>{{ event.title }}</a></h4>
							<p>{{ event.description }}</p>
						</div>
						<div class='col-5' style="float: right;">
							<p><img src={{ event.img_url }} width="60%" height="60%" alt="Pic"/></p>
							<p>Цены: {{ event.price }} </p>
						</div>
					</div>
					<div class='row'>
						<div class='col-4'>
							<p>Начинается: {{ event.date_start }}</p>
						</div>
						<div class='col-4'>
						</div>
						<div class='col-4'>
							<a class="btn btn-primary" href="{{ url_for('event.subscribe_event', event_id=event.id) }}">Подписаться</a>
						
							<a class="btn btn-primary" href="{{ url_for('event.unsubscribe_event', event_id=event.id) }}">Отписаться</a>
							
						</div>
					</div>
				</div>
				<hr />            
				{% endfor %}
			</div>
			

{% endblock %}