{% extends "base.html" %}

{% block content %}
            <div class="event-content">
            </div>
                <h1 class="event-card">{{ event.title }}</h1>
                <h6>Жанр: {{ event.genre }}<br /></h6>
                <div class="row">
                    <div class='col-6'>
                        <p>{{ event.text }}</p>
                        {% if event.place != None %}
                            <h6>Местро проведения: {{ event.place }}<br />
                        {% endif %}
                        {% if event.address != None %}
                            <h6>По адресу: {{ event.address }}</h6>
                        {% endif %}
                    </div>
                    <div class='col-6'>
                        <img class="card-img-top" src="{{ event.img_url  }}" class="img-fluid" alt="Responsive image">
                    </div>
                    {% if event.comments %}
                    <h3>Комментарии:</h3>
                    {% for comment in event.comments %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ comment.text }}</p>
                            <p class="card-text">
                                <small>Опубликовано: {{ comment.created.strftime('%d.%m.%Y') }} | 
                                    Автор: {{ comment.user.username }}</small>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            </div>
{% endblock %}