{% extends "base.html" %}
{% block content %}

	<title>Забыли пароль</title>
</head>
<body>
	<div class="row">
		<div class="col-4">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="alert alert-warning" role="alert">
				{% for message in messages %}
					{{ message }}<br>
				{% endfor %}
			</div>
			{% endif %}
			{% endwith %}
		</div>
	</div>
	<h1>Забыли пароль</h1>
	<form action="jfhkshfk.html" method="GET">
		<label for="forgetpass">Ведите e-mail Для восстановления пароля</label><br>
		<input type="email" placeholder="E-mail" value="" name="forgetpass" id="forgetpass"><br><br>
		<input type="submit" value="Отправить">
	</form>
</body>
</html>

{% endblock %}
